<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>oxiFood</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>

    <header>
      <h1>oxiFood</h1>
      <a  class="button" href="/evento">Criar evento</a>
    </header>

  <div class="wrapper">
  <div class="content">
  <h2>Participe do evento clicando nele!</h2>
  <!--TABELA PARA LISTAGEM DE EVENTOS-->

  <table border="4">

  <thead>
    <tr>
      <th>
        Restaurante
      </th>
      <th>
        Criador
      </th>
      <th>
        Evento
      </th>
      <th>
        Data/hora
      </th>
      <th>
         Encerramento
      </th>
    </tr>
  </thead>

  <tbody>
  <% for(var i=0; i<eventos.length; i++) {%>
    <tr>
      <td>
        <%= eventos[i].restaurant%>
      </td>
       <td>
         <%= eventos[i].ownername%>
       </td>
       <td>
         <a href="/eventos/<%= eventos[i]._id%>/<%= eventos[i].status%>"><%= eventos[i].name%></a>
       </td>
       <td>
         <%= eventos[i].timeAsString%>
       </td>
       <td>
         <%= eventos[i].finishedTime %> <strong><%= eventos[i].status %></strong>
       </td>
     </tr>
  <% } %>
  </tbody>
  </table>
  <!--FIM DA TABELA-->

  </div>
  <!--RODAPÉ-->
  <footer>
    <div id="rodape">
      <p>Made in Recife, oxi!</p>
      <p>Por Leonardo Oliveira e Rayana Gonçalves at
      <a href="https://www.thoughtworks.com/" target="_blank" style="color: #696969">
      Thoughtworks</a></p>
    </div>
  </footer>
 <!--FIM DO RODAPÉ-->

    </div>
  </body>
</html>
