
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Começando o código</title>
<link rel="stylesheet" href="../planilha.css">
</head>
  <body>

<table>
  <tr>
    <td>
      Total de pizzas
    </td>
    <td>
      <%=pizzas.numPizza%>
    </td>
    <td>
      Subtotal
    </td>
    <td>
      <%=pizzas.total%>
    </td>
  </tr>
  <tr>
    <td>
      Total de guaranás
    </td>
    <td>
      <%=guarana.numGuarana%>
    </td>
    <td>
      Subtotal
    </td>
    <td>
      <%=guarana.total%>
    </td>
  </tr>
    <tr>
      <td>
        total
      </td>
      <td>
        <%=valor%>
      </td>
    </tr>
</table>

  </body>
</html>
