
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link  rel="stylesheet" href="/calculos.css">
    <table>
  <tr>
    <td>
      Total de pizzas
    </td>
    <td>
      <%=pizzas.numPizza%>
    </td>
    <td>
      Subtotal
    </td>
    <td>
      R$<%=pizzas.total%>
    </td>
  </tr>
  <tr>
    <td>
      Total de guaranás
    </td>
    <td>
      <%=guarana.numGuarana%>
    </td>
    <td>
      Subtotal
    </td>
    <td>
      R$<%=guarana.total%>
    </td>
  </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
        Total
      </td>
        <td>
        R$<%=valor%>
      </td>
    </tr>
</table>

  </body>
</html>
