<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Participe do evento</title>
    <link rel="stylesheet" href="/participar.css">
  </head>
  <body>

    <header>
      <h1><a id="oxifood" href="/" >oxiFood</a></h1>
    </header>

    <div class="wrapper">
      <div class="content">

    <% if(status != "ENCERRADO") {%>
    <h2>Vai participar do evento?</h2>

    <!--FORMULARIO PARA SE INSCREVER NO EVENTO-->
    <form
      name="input" action="/participar"  method="post">
      <input type="hidden" name="eventid" value="<%=eventid%>">

    <div>
      <input type="text" name="firstname"
      placeholder="Qual o seu nome?" id="firstname" required="">
    </div>

    <div>
      <input type="text" name="lastname"
      placeholder="Qual o seu sobrenome?" id="lastname" required="">
    </div>

    <div>
    <select name="flavor" id="choiceoffood" required="">
    <option value selected>O que você quer comer?</option>
    <% for(var i=0; i < foods.length; i++) {%>
      <option value="<%= foods[i].name %>"><%= foods[i].name %></option>
    <% } %>
    </select>
  </div>

    <div
    class="botao">
      <input type="submit" value="Enviar">
    </div>
     </form>
     <% } %>
    <!--FIM DO FORMULARIO-->

    <!--TABELA QUE LISTA TODOS OS INSCRITOS DO EVENTO-->
    <table border="4">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
           O que vai comer
           <th>
            Sair do evento
          </th>
          </tr>
      </thead>

    <tbody>
    <% for(var i=0; i<participar.length; i++) {%>
      <tr>
        <td>
          <%= participar[i].firstname%> <%= participar[i].lastname%>
        </td>
        <td>
          <%= participar[i].flavor%>
        </td>
        <td>
          <div>
            <a id="exit" name="exit" href="/participar/<%=participar[i]._id%>?_method=DELETE">Sair</a>
              <%= participar[i].exit%>
          </div>
        </td>
        </tr>
    <% } %>

    <tr>
      <td>
        Total:
      </td>
      <td>
        <%= participar.length%>
      </td>
      <td>
    </tr>
      </tbody>
  </table>
  <!--FIM DA TABELA-->
 <!--FIM DA TABELA-->
<!--BOTAO PARA CANCELAMENTO DE EVENTO-->
 <div class="button-container" id= "cancelar">
   <a class="button" href="/event/<%=eventid%>?_method=DELETE" onclick="confirma(event)" >Cancelar evento </a>
 </div>
<!--FIM-->

 <!--BOTAO QUE REDIRECIONA PARA A TABELA DE CALCULO-->
  <div class="button-container" id="calcular">
    <a class="button" href="#">Calcular resultado</a>
  </div>
<!--fim-->
</div>

  <!--RODAPE-->
  <footer>
    <div id="rodape">
      <p>Made in Recife, oxi!</p>
      <p>Por Leonardo Oliveira e Rayana Gonçalves at
      <a href="https://www.thoughtworks.com/" target="_blank">
      Thoughtworks</a></p>
    </div>
  </footer>
  <!--RODAPE-->
  </div>
  <div class="resultado">
    <div class="box">
   <table border="4">
     <thead>
       <tr>
         <th>
           Quantidade
         </th>
         <th>
           Opção de comida
         </th>
         <th>
           Valor unitário
         </th>
       </tr>
    </thead>

  <% for(var i=0; i < result.foods.length; i++) {%>
      <tbody>
         <td>
           <%= result.foods[i].quantity %>
         </td>
         <td>
           <%= result.foods[i].name %>
         </td>
         <td>
           <%= result.foods[i].price %>
         </td>
       </tr>
     </tbody>
     <% } %>

    <tr>
      <td>
        <%=result.sodaQuantity%>
      </td>
      <td>
        Refrigerante
      </td>
      <td>
        R$<%=result.sodaTotal%>
      </td>
    </tr>

    <tr>
      <td style="border-color: rgba(123, 123, 123, 0)">
      </td>
      <td id="negrito">
        Valor Total:
      </td>
      <td id="vermelho">
        R$<%=result.total%>
      </td>
      <tbody>
        <td style="border-color: rgba(123, 123, 123, 0)">
        </td>
        <td id="negrito">
          Telefone:
        </td>
        <td id="vermelho">
          <%=comedorias.phone%>
        </td>
      </tbody>
    </tr>

   </table>
  </div>
</div>
<script type="text/javascript" src="../../js/participar.js"></script>
<script type="text/javascript" src="../../js/cancelar.js"></script>
</body>
</html>
