<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Participe do evento</title>
    <link rel="stylesheet" href="/participar.css">
  </head>
  <body>

    <h1>Vai participar do evento?</h1>
    <!--FORMULARIO PARA SE INSCREVER NO EVENTO-->
    <form
      name="input" action="/participar"  method="post">
      <input type="hidden" name="eventid" value="<%=eventid%>">

    <div>
      <input type="text" name="firstname"
      placeholder="Nome" required="">
    </div>

    <div>
      <input type="text" name="restriction"
      placeholder="Restrição alimentar? Se sim, qual?">
    </div>

    <div>
      <input type="submit" value="Enviar">
    </div>
     </form>
    <!--FIM DO FORMULARIO-->

    <!--TABELA QUE LISTA TODOS OS INSCRITOS DO EVENTO-->
    <table border="4">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
            Restrição
          </th>
        </tr>
      </thead>

    <tbody>
    <% for(var i=0; i<participar.length; i++) {%>
      <tr>
        <td>
          <%= participar[i].firstname%>
        </td>
        <td>
          <%= participar[i].restriction%>
        </td>
        </tr>
    <% } %>

    <tr>
      <td>
        Total:
      </td>
      <td>
        <%= participar.length%>
      </td>
    </tr>
      </tbody>
  </table>
  <!--FIM DA TABELA-->

  <!--BOTAO QUE REDIRECIONA PARA A TABELA DE CALCULO-->
  <div class="button-container">
    <a class="button" href="/calcular/event/<%=eventid%>">Calcular resultado</a>
  </div>
  <!--fim-->

  <!--RODAPE-->
  <footer>
    <div id="rodape">
      <p>Made in Recife, oxi!</p>
      <p>Por Leonardo Oliveira e Rayana Gonçalves at
      <a href="https://www.thoughtworks.com/" target="_blank" >
      Thoughtworks</a></p>
    </div>
  </footer>
  <!--RODAPE-->

  </body>
</html>
