<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Participe do evento</title>
    <link rel="stylesheet" href="/participar.css">
    <script>
    function confirma(event) {
      if(confirm("Você tem certeza que deseja cancelar o evento?")){
        return true;
      }
      else {
        event.preventDefault();
      }
    }
</script>
  </head>
  <body>

    <header>
      <h1><a id="oxifood" href="/" >oxiFood</a></h1>
    </header>

    <div class="wrapper">
      <div class="content">
    <h2>Vai participar do evento?</h2>

    <!--FORMULARIO PARA SE INSCREVER NO EVENTO-->
    <% if(status != "ENCERRADO") {%>
    <form
      name="input" action="/participar"  method="post">
      <input type="hidden" name="eventid" value="<%=eventid%>">

    <div>
      <input type="text" name="firstname"
      placeholder="Qual o seu nome?" required="">
    </div>

    <div>
    <select name="flavor" id="choiceoffood" required="">
    <option value selected>O que você quer comer?</option>
    <% for(var i=0; i < foods.length; i++) {%>
      <option value="<%= foods[i].name %>"><%= foods[i].name %></option>
    <% } %>
    </select>
  </div>

    <div>
      <input type="submit" value="Enviar">
    </div>
     </form>
     <% } %>
    <!--FIM DO FORMULARIO-->

    <!--TABELA QUE LISTA TODOS OS INSCRITOS DO EVENTO-->
    <table border="4">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
           O que vai comer
           <th>
            Sair do evento
          </th>
          </tr>
      </thead>

    <tbody>
    <% for(var i=0; i<participar.length; i++) {%>
      <tr>
        <td>
          <%= participar[i].firstname%>
        </td>
        <td>
          <%= participar[i].flavor%>
        </td>
        <td>
          <div>
            <a id="exit" name="exit" href="/participar/<%=participar[i]._id%>?_method=DELETE">Sair</a>
              <%= participar[i].exit%>
          </div>
        </td>
        </tr>
    <% } %>

    <tr>
      <td>
        Total:
      </td>
      <td>
        <%= participar.length%>
      </td>
      <td>
    </tr>
      </tbody>
  </table>
  <!--FIM DA TABELA-->

  <!--TABELA DE CALCULO-->
 <table border="4">
   <% for(var i=0; i < result.foods.length; i++) {%>
     <tr>
       <td>
         <%= result.foods[i].quantity %>
       </td>
       <td>
         <%= result.foods[i].name %>
       </td>
    </tr>
   <% } %>
  <tr>
    <td style="border-color: rgba(123, 123, 123, 0)">
      Total de refrigerantes:
    </td>
    <td>
      <%=result.sodaQuantity%>
    </td>
    <td style="border-color: rgba(123, 123, 123, 0)">
      Subtotal:
    </td>
    <td>
      R$<%=result.sodaTotal%>
    </td>
  </tr>

  <tr>
    <td style="border-color: rgba(123, 123, 123, 0)">
    </td>
    <td style="border-color: rgba(123, 123, 123, 0)">
    </td>
    <td style="border-color: rgba(123, 123, 123, 0)">
      Total:
    </td>
    <td>
      R$<%=result.total%>
    </td>
  </tr>
 </table>
 <!--FIM DA TABELA-->

  <!--BOTAO QUE REDIRECIONA PARA A TABELA DE CALCULO-->
  <div class="button-container">
    <a class="button" href="/evento/<%=eventid%>/resultado">Calcular resultado</a>
  </div>
  <!--fim-->

<!--BOTAO PARA CANCELAMENTO DE EVENTO-->
 <div class="button-container" id= "cancelar">
   <a class="button" href="/event/<%=eventid%>?_method=DELETE" onclick="confirma(event)" >Cancelar evento </a>
 </div>
<!--FIM-->

</div>

  <!--RODAPE-->
  <footer>
    <div id="rodape">
      <p>Made in Recife, oxi!</p>
      <p>Por Leonardo Oliveira e Rayana Gonçalves at
      <a href="https://www.thoughtworks.com/" target="_blank">
      Thoughtworks</a></p>
    </div>
  </footer>
  <!--RODAPE-->
</div>
  </body>
</html>
