<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Participe do evento</title>
        <link rel="stylesheet" href="/planilha.css">
  </head>
<body>
  <h1>Vai participar do evento?</h1>
    <form
     name="input" action="/participar"  method="post">
     <input type="hidden" name="eventid" value="<%=eventid%>">

      <div>
        <input type="text" name="firstname"
        placeholder="Nome" required="">
      </div>

      <div>
          <input type="text" name="restriction"
            placeholder="Restrição alimentar? Se sim, qual?">
      </div>

      <div>
         <input type="submit" value="Enviar">
       </div>
     </form>

    <table border="4">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
          Restrição
          </th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<participar.length; i++) {%>
       <tr>
         <td>
           <%= participar[i].firstname%>
         </td>
         <td>
          <%= participar[i].restriction%>
         </td>
       </tr>
        <% } %>
    <tr>
      <td>
        total:
      </td>
      <td>
        <%= participar.length%>
      </td>
    </tr>
      </tbody>
    </table>

  <div class="button-container">
    <a class="button" href="/calcular/event/<%=eventid%>">Calcular resultado</a>
  </div>
  <footer>
    <div id="rodape">
      <p>Made in Recife, oxi!</p>
      <p>Por Leonardo Oliveira e Rayana Gonçalves at
      <a href="https://www.thoughtworks.com/" target="_blank" >
      Thoughtworks</a></p>
    </div>
  </footer>
  </body>
</html>
