
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link  rel="stylesheet" href="/tabeladecalculo.css">
  </head>
  <body>

  <!--TABELA DE CALCULO-->
 <table border="4">
   <% for(var i=0; i < result.foods.length; i++) {%>
     <tr>
       <td>
         <%= result.foods[i].quantity %>
       </td>
       <td>
         <%= result.foods[i].name %>
       </td>
    </tr>
   <% } %>
  <tr>
    <td style="border-color: rgba(123, 123, 123, 0)">
      Total de refrigerantes:
    </td>
    <td>
      <%=result.sodaQuantity%>
    </td>
    <td style="border-color: rgba(123, 123, 123, 0)">
      Subtotal:
    </td>
    <td>
      R$<%=result.sodaTotal%>
    </td>
  </tr>

  <tr>
    <td style="border-color: rgba(123, 123, 123, 0)">
    </td>
    <td style="border-color: rgba(123, 123, 123, 0)">
    </td>
    <td style="border-color: rgba(123, 123, 123, 0)">
      Total:
    </td>
    <td>
      R$<%=result.total%>
    </td>
  </tr>
 </table>
 <!--FIM DA TABELA-->

 <!--Botão para voltar a home-->
     <div class="button-container">
      <a class="button" href="/">Ir para a página inicial</a>
    </div>

 <!--RODAPE-->
 <footer>
  <div id="rodape">
    <p>Made in Recife, oxi!</p>
    <p>Por Leonardo Oliveira e Rayana Gonçalves at
    <a href="https://www.thoughtworks.com/" target="_blank" >
    Thoughtworks</a></p>
  </div>
 </footer>
 <!--RODAPE-->

  </body>
</html>
